/* @import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  cursor: url("../Extras/images/cursor.png"), auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #fc8e44, #ffb3b3, #fb90d7, #91fefe, #ab72fb, #65bbf9, #ccffcc, #54f1b5, #fccd4b);
  background-size: 400% 400%;
  animation: gradientAnimation 12s ease infinite;
  flex-direction: column;
  font-family: "Skranji", cursive;
  overflow: hidden;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #5f3f56;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#container {
  max-width: 750px;
  padding: 35px;
  border-radius: 30px;
  background: #ffb3b3;
  box-shadow: 0 8px 0 #ffffff, 0 -4px 0 #ffffff, 0px 0px 15px rgb(255 255 255);
  text-align: center;
  border: 6px solid #ffffff;
  position: relative;
}

#container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 35px;
  background: linear-gradient(45deg, #ffe572, #a1d0b1);
  z-index: -1;
  filter: blur(8px);
}

.content {
  background: radial-gradient(#fdfdfd, #f1e8d6);
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.content p {
  font-size: 36px;
  color: #5f3f56;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.buttons button {
  padding: 15px 30px;
  border-radius: 15px;
  border: 2px solid #6e4c6300;
  font-family: "Skranji", cursive;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttons button.confirm {
  background: radial-gradient(#fdfdfd, #f1e8d6);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.buttons button.cancel {
  background: radial-gradient(#fdfdfd, #f1e8d6);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 4px 12px rgb(0 0 0 / 34%);
}

.fire-line {
  width: 100%;
  height: 8px;
  background: linear-gradient(45deg, #f8a7c1, #f7b500, #ffe572);
  position: absolute;
  bottom: 140px;
  z-index: 2;
  box-shadow: 0 0 15px rgba(255, 150, 0, 0.6);
  animation: burn 1s infinite alternate ease-in-out;
}

@keyframes burn {
  0% {
    filter: brightness(1.2) blur(1px);
  }

  100% {
    filter: brightness(1.4) blur(1px);
  }
}

#game-board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-gap: 10px;
  border: 8px solid white;
  border-radius: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #5f3f56;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  background: #f5f5f5;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.1);
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.15);
}

.peach {
  background: #f7b500;
}

.mint {
  background: #a1d0b1;
}

.lavender {
  background: #c9a5d9;
}

.lemon {
  background: #ffe572;
}

.pink {
  background: #f8a7c1;
}

.skyblue {
  background: #9ec9e9;
}

.bomb {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

img {
  width: 13%;
  height: 15%;
  z-index: 3;
  position: absolute;
  top: 190px;
}